So you have walk-forward back-tests, which is the back tests you and I know. And then quite naturally, we have backtests on simulated data. 

I can imagine another type of backtests and that is superimposing signals from prices onto new prices to recreate new prices based on multiple scenarios. 

Another potential is to have multiple time-series and then to use back-testing as a tool to fit on - it is going to be harder to fit on multiple ones, in the sense that you do cross-validation. 

Naturally walk forward leads to higher variance, higher variance leads to more false discovery.

In [2]:
import pandas as pd
import numpy as np

def apply_func(x):
    return x ** 2

def func(df, timestamps, f):
    df_ = df.loc[timestamps]
    for idx, x in df_.items():
        df_.loc[idx] = f(x)
    return df_
    
df = pd.Series(np.random.randn(10000))
from finance_ml.multiprocessing import mp_pandas_obj

results = mp_pandas_obj(func, pd_obj=('timestamps', df.index),
                        num_threads=24, df=df, f=apply_func)
print(results.head())

0    1.084807
1    1.210773
2    0.563314
3    1.828434
4    0.533735
dtype: float64

2018-09-28 07:47:39.753567 100.0% func done after 0.01 minutes. Remaining 0.0 minutes.

In [1]:
from finance_ml.labeling import get_barrier_labels, cusum_filter
from finance_ml.stats import get_daily_vol

vol = get_daily_vol(close)
trgt = vol
timestamps = cusum_filter(close, vol)
labels = get_barrier_labels(close, timestamps, trgt, sltp=[1, 1],
                            num_days=1, min_ret=0, num_threads=16)
print(labels.show())

NameError: name 'close' is not defined

From here forward you would like to learn more about Chapter 3

In [4]:
import pandas as pd

df = pd.read_csv("datasets/Google.csv")
df.index = pd.DatetimeIndex(df['Date'].values)
close = df["Close"]

In [184]:
def getDailyVol(close,span=100):
    # daily vol, reindexed to close
    df=close.index.searchsorted(close.index-pd.Timedelta(days=1))
    df=df[df>0]
    df=pd.Series(close.index[df-1], index=close.index[close.shape[0]-df.shape[0]:])
    df=close.loc[df.index]/close.loc[df.values].values-1 # daily returns
    df=df.ewm(span=span).std()
    return df

In [33]:
import numpy as np
import pandas as pd

### This really gets a moving average of the daily volatility. 
def get_daily_vol(close, span=100):
    # The insertion index is the place to add your value to keep the index in sorted order
    use_idx = close.index.searchsorted(close.index - pd.Timedelta(days=1))
    use_idx = use_idx[use_idx > 0]
    # Get rid of duplications in index
    use_idx = np.unique(use_idx)
    prev_idx = pd.Series(close.index[use_idx - 1], index=close.index[use_idx])
    ret = close.loc[prev_idx.index] / close.loc[prev_idx.values].values - 1
    # Ewm is an exponentially weighted moving average, various parameters can be tweaked 
    vol = ret.ewm(span=span).std()
    return vol

In [74]:
### Time to simplify the formula, to write it in as little code as possible.
### This value is slightly better but the formula is better.
### I have noticed, this is the gaps, he doesn't take the returns of the
### gaps, that is fine with me, I might still wonder about the
## justification of that, but it is done. 
## basically you can ask him why he is leaving out the gap. 


import numpy as np
import pandas as pd

### This really gets a moving average of the daily volatility. 
def daily_moving_vol(close, span=100):
    if close.shape[0]==close.index.drop_duplicates().shape[0]:
        # Ewm is an exponentially weighted moving average, various parameters can be tweaked like span
        vol = ((close/close.shift(-1)-1).drop_duplicates().dropna()).ewm(span=span).std()
        return vol
    else:
        print("duplicate indexes - fix")

In [ ]:
vol = ((close/close.shift(-1)-1).drop_duplicates().dropna()).ewm(span=span).std()

In [ ]:
## It is a genius piece of code but it is a hack

In [162]:
close.head()

2004-08-19    100.335
2004-08-20    108.310
2004-08-23    109.400
2004-08-24    104.870
2004-08-25    106.000
Name: Close, dtype: float64

In [163]:
#### Interesting, my EW takes friday out.
#### His takes monday out

span = 100
days = pd.Series(close[1:].index.append(close.index.shift(1,freq="D")[-1:]) - close.index  < pd.Timedelta(days=2))
days = days.shift(1).dropna()
days = days[days==True]

ret = ((close/close.shift(-1)-1).drop_duplicates().dropna())

ew = ret.iloc[days.index].ewm(span=span).std()

In [165]:
ew.shape

(2449,)

In [172]:
close.head(15)

2004-08-19    100.335
2004-08-20    108.310
2004-08-23    109.400
2004-08-24    104.870
2004-08-25    106.000
2004-08-26    107.910
2004-08-27    106.150
2004-08-30    102.010
2004-08-31    102.370
2004-09-01    100.250
2004-09-02    101.510
2004-09-03    100.010
2004-09-07    101.580
2004-09-08    102.300
2004-09-09    102.310
Name: Close, dtype: float64

In [170]:
ew.head(15)

2004-08-20         NaN
2004-08-24    0.000493
2004-08-25    0.004299
2004-08-26    0.015255
2004-08-27    0.024609
2004-08-31    0.022998
2004-09-01    0.022231
2004-09-02    0.020847
2004-09-03    0.020728
2004-09-08    0.019472
2004-09-09    0.020882
2004-09-10    0.020700
2004-09-14    0.019728
2004-09-15    0.019321
2004-09-16    0.019889
Name: Close, dtype: float64

In [189]:
vol1 = vol1.to_frame()
vol1["date"] = list(vol1.index)

In [190]:
## Day of week`a

vol1["dow"] = vol1["date"].dt.day_name()

In [191]:
vol1

               Close       date        dow
2004-08-23       NaN 2004-08-23     Monday
2004-08-24  0.036396 2004-08-24    Tuesday
2004-08-25  0.029930 2004-08-25  Wednesday
2004-08-26  0.027366 2004-08-26   Thursday
2004-08-30  0.029365 2004-08-30     Monday
2004-08-31  0.026605 2004-08-31    Tuesday
2004-09-01  0.024794 2004-09-01  Wednesday
2004-09-02  0.024097 2004-09-02   Thursday
2004-09-07  0.023610 2004-09-07    Tuesday
2004-09-08  0.022400 2004-09-08  Wednesday
2004-09-09  0.021152 2004-09-09   Thursday
2004-09-13  0.021182 2004-09-13     Monday
2004-09-14  0.022876 2004-09-14    Tuesday
2004-09-15  0.021867 2004-09-15  Wednesday
2004-09-16  0.021314 2004-09-16   Thursday
2004-09-20  0.020706 2004-09-20     Monday
2004-09-21  0.020498 2004-09-21    Tuesday
2004-09-22  0.019782 2004-09-22  Wednesday
2004-09-23  0.019554 2004-09-23   Thursday
2004-09-27  0.019453 2004-09-27     Monday
2004-09-28  0.024991 2004-09-28    Tuesday
2004-09-29  0.024968 2004-09-29  Wednesday
2004-09-30  0.024733 2004-09-30   Thursday
2004-10-04  0.024173 2004-10-04     Monday
2004-10-05  0.023793 2004-10-05    Tuesday
2004-10-06  0.023561 2004-10-06  Wednesday
2004-10-07  0.022996 2004-10-07   Thursday
2004-10-11  0.023169 2004-10-11     Monday
2004-10-12  0.022692 2004-10-12    Tuesday
2004-10-13  0.022470 2004-10-13  Wednesday
...              ...        ...        ...
2016-11-21  0.011895 2016-11-21     Monday
2016-11-22  0.011777 2016-11-22    Tuesday
2016-11-25  0.011660 2016-11-25     Friday
2016-11-28  0.011579 2016-11-28     Monday
2016-11-29  0.011476 2016-11-29    Tuesday
2016-11-30  0.011646 2016-11-30  Wednesday
2016-12-01  0.011727 2016-12-01   Thursday
2016-12-05  0.011873 2016-12-05     Monday
2016-12-06  0.011764 2016-12-06    Tuesday
2016-12-07  0.011951 2016-12-07  Wednesday
2016-12-08  0.011844 2016-12-08   Thursday
2016-12-12  0.011733 2016-12-12     Monday
2016-12-13  0.011674 2016-12-13    Tuesday
2016-12-14  0.011561 2016-12-14  Wednesday
2016-12-15  0.011459 2016-12-15   Thursday
2016-12-19  0.011350 2016-12-19     Monday
2016-12-20  0.011241 2016-12-20    Tuesday
2016-12-21  0.011150 2016-12-21  Wednesday
2016-12-22  0.011054 2016-12-22   Thursday
2016-12-27  0.010946 2016-12-27    Tuesday
2016-12-28  0.010887 2016-12-28  Wednesday
2016-12-29  0.010787 2016-12-29   Thursday
2017-01-03  0.010982 2017-01-03    Tuesday
2017-01-04  0.010873 2017-01-04  Wednesday
2017-01-05  0.010791 2017-01-05   Thursday
2017-01-09  0.010685 2017-01-09     Monday
2017-01-10  0.010585 2017-01-10    Tuesday
2017-01-11  0.010491 2017-01-11  Wednesday
2017-01-12  0.010389 2017-01-12   Thursday
2017-01-17  0.010317 2017-01-17    Tuesday

[2472 rows x 3 columns]

In [188]:
vol1 = get_daily_vol(df["Close"])
vol1.shape

(2472,)

In [ ]:
import numpy as np
import pandas as pd

### This really gets a moving average of the daily volatility. 
def get_daily_vol(close, span=100):
    # Easy, search the index for where the next index is a day away from previous index
    # It will return duplicate indexes, because its relative to before and after
    # Returns closest index to another. 
    # It is a hack - where index should be added to maintain order.
    use_idx = close.index.searchsorted(close.index - pd.Timedelta(days=1))
    use_idx = use_idx[use_idx > 0]
    # Get rid of duplications in index
    use_idx = np.unique(use_idx)
    prev_idx = pd.Series(close.index[use_idx - 1], index=close.index[use_idx])
    ret = close.loc[prev_idx.index] / close.loc[prev_idx.values].values - 1
    # Ewm is an exponentially weighted moving average, various parameters can be tweaked 
    vol = ret.ewm(span=span).std()
    return vol

In [62]:
close.head()

2004-08-19    100.335
2004-08-20    108.310
2004-08-23    109.400
2004-08-24    104.870
2004-08-25    106.000
Name: Close, dtype: float64

In [80]:
vol1 = get_daily_vol(df["Close"])
vol1.shape

(2472,)

In [78]:
vol = daily_moving_vol(df["Close"])
vol.shape

(3124,)

In [82]:
vol1.head(20)

2004-08-23         NaN
2004-08-24    0.036396
2004-08-25    0.029930
2004-08-26    0.027366
2004-08-30    0.029365
2004-08-31    0.026605
2004-09-01    0.024794
2004-09-02    0.024097
2004-09-07    0.023610
2004-09-08    0.022400
2004-09-09    0.021152
2004-09-13    0.021182
2004-09-14    0.022876
2004-09-15    0.021867
2004-09-16    0.021314
2004-09-20    0.020706
2004-09-21    0.020498
2004-09-22    0.019782
2004-09-23    0.019554
2004-09-27    0.019453
Name: Close, dtype: float64

In [84]:
close

2004-08-19    100.335
2004-08-20    108.310
2004-08-23    109.400
2004-08-24    104.870
2004-08-25    106.000
2004-08-26    107.910
2004-08-27    106.150
2004-08-30    102.010
2004-08-31    102.370
2004-09-01    100.250
2004-09-02    101.510
2004-09-03    100.010
2004-09-07    101.580
2004-09-08    102.300
2004-09-09    102.310
2004-09-10    105.330
2004-09-13    107.500
2004-09-14    111.490
2004-09-15    112.000
2004-09-16    113.970
2004-09-17    117.490
2004-09-20    119.360
2004-09-21    117.840
2004-09-22    118.380
2004-09-23    120.820
2004-09-24    119.830
2004-09-27    118.260
2004-09-28    126.860
2004-09-29    131.080
2004-09-30    129.600
               ...
2016-12-02    764.460
2016-12-05    778.220
2016-12-06    776.180
2016-12-07    791.470
2016-12-08    795.170
2016-12-09    809.450
2016-12-12    807.900
2016-12-13    815.340
2016-12-14    817.890
2016-12-15    815.650
2016-12-16    809.840
2016-12-19    812.500
2016-12-20    815.200
2016-12-21    812.200
2016-12-22    809.680
2016-12-23    807.800
2016-12-27    809.780
2016-12-28    804.570
2016-12-29    802.880
2016-12-30    792.450
2017-01-03    807.570
2017-01-04    807.770
2017-01-05    813.020
2017-01-06    825.210
2017-01-09    827.180
2017-01-10    826.010
2017-01-11    829.860
2017-01-12    829.530
2017-01-13    830.940
2017-01-17    827.200
Name: Close, Length: 3125, dtype: float64

In [83]:
vol.head(20)

2004-08-19         NaN
2004-08-20    0.045020
2004-08-23    0.058456
2004-08-24    0.047500
2004-08-25    0.041005
2004-08-26    0.038556
2004-08-27    0.039770
2004-08-30    0.036647
2004-08-31    0.034956
2004-09-01    0.033110
2004-09-02    0.031601
2004-09-03    0.030416
2004-09-07    0.029043
2004-09-08    0.027759
2004-09-09    0.027708
2004-09-10    0.027035
2004-09-13    0.027328
2004-09-14    0.026376
2004-09-15    0.025650
2004-09-16    0.025469
Name: Close, dtype: float64

In [7]:
close = df["Close"]

In [108]:
use_idx = close.index.searchsorted(close.index - pd.Timedelta(days=1))

In [112]:
close.head(13)

2004-08-19    100.335
2004-08-20    108.310
2004-08-23    109.400
2004-08-24    104.870
2004-08-25    106.000
2004-08-26    107.910
2004-08-27    106.150
2004-08-30    102.010
2004-08-31    102.370
2004-09-01    100.250
2004-09-02    101.510
2004-09-03    100.010
2004-09-07    101.580
Name: Close, dtype: float64

In [109]:
use_idx

array([   0,    0,    2,    2,    3,    4,    5,    7,    7,    8,    9,
         10,   12,   12,   13,   14,   16,   16,   17,   18,   19,   21,
         21,   22,   23,   24,   26,   26,   27,   28,   29,   31,   31,
         32,   33,   34,   36,   36,   37,   38,   39,   41,   41,   42,
         43,   44,   46,   46,   47,   48,   49,   51,   51,   52,   53,
         54,   56,   56,   57,   58,   59,   61,   61,   62,   63,   64,
         66,   66,   67,   69,   70,   70,   71,   72,   73,   75,   75,
         76,   77,   78,   80,   80,   81,   82,   83,   85,   85,   86,
         87,   89,   89,   90,   91,   92,   94,   94,   95,   96,   97,
         99,   99,  100,  101,  102,  104,  104,  105,  106,  108,  108,
        109,  110,  111,  113,  113,  114,  115,  116,  118,  118,  119,
        120,  121,  123,  123,  124,  125,  126,  128,  128,  129,  130,
        132,  132,  133,  134,  135,  137,  137,  138,  139,  140,  142,
        142,  143,  144,  145,  147,  147,  148,  149,  151,  151,  152,
        153,  154,  156,  156,  157,  158,  159,  161,  161,  162,  163,
        164,  166,  166,  167,  168,  169,  171,  171,  172,  173,  174,
        176,  176,  177,  178,  179,  181,  181,  182,  183,  184,  186,
        186,  187,  188,  189,  191,  191,  192,  193,  194,  196,  196,
        197,  198,  200,  200,  201,  202,  203,  205,  205,  206,  207,
        208,  210,  210,  211,  212,  213,  215,  215,  216,  217,  218,
        220,  220,  221,  222,  224,  224,  225,  226,  227,  229,  229,
        230,  231,  232,  234,  234,  235,  236,  237,  239,  239,  240,
        241,  242,  244,  244,  245,  246,  247,  249,  249,  250,  251,
        252,  254,  254,  255,  256,  257,  259,  259,  260,  261,  262,
        264,  264,  265,  266,  268,  268,  269,  270,  271,  273,  273,
        274,  275,  276,  278,  278,  279,  280,  281,  283,  283,  284,
        285,  286,  288,  288,  289,  290,  291,  293,  293,  294,  295,
        296,  298,  298,  299,  300,  301,  303,  303,  304,  305,  306,
        308,  308,  309,  310,  311,  313,  313,  314,  315,  316,  318,
        318,  319,  321,  322,  322,  323,  324,  325,  327,  327,  328,
        329,  330,  332,  332,  333,  334,  335,  337,  337,  338,  339,
        340,  342,  342,  343,  344,  346,  346,  347,  348,  350,  350,
        351,  352,  353,  355,  355,  356,  357,  359,  359,  360,  361,
        362,  364,  364,  365,  366,  367,  369,  369,  370,  371,  372,
        374,  374,  375,  376,  377,  379,  379,  380,  381,  383,  383,
        384,  385,  386,  388,  388,  389,  390,  391,  393,  393,  394,
        395,  396,  398,  398,  399,  400,  401,  403,  403,  404,  405,
        406,  408,  408,  409,  410,  411,  413,  413,  414,  415,  417,
        417,  418,  419,  420,  422,  422,  423,  424,  425,  427,  427,
        428,  429,  430,  432,  432,  433,  434,  435,  437,  437,  438,
        439,  440,  442,  442,  443,  444,  445,  447,  447,  448,  449,
        451,  451,  452,  453,  454,  456,  456,  457,  458,  459,  461,
        461,  462,  463,  464,  466,  466,  467,  468,  469,  471,  472,
        472,  473,  475,  475,  476,  477,  478,  480,  480,  481,  482,
        483,  485,  485,  486,  487,  488,  490,  490,  491,  492,  493,
        495,  495,  496,  497,  498,  500,  500,  501,  502,  503,  505,
        505,  506,  507,  508,  510,  510,  511,  512,  513,  515,  515,
        516,  517,  519,  519,  520,  521,  522,  524,  524,  525,  526,
        527,  529,  529,  530,  531,  532,  534,  534,  535,  536,  537,
        539,  539,  540,  541,  542,  544,  544,  545,  546,  547,  549,
        549,  550,  551,  552,  554,  554,  555,  556,  557,  559,  559,
        560,  561,  562,  564,  564,  565,  566,  567,  569,  569,  570,
        572,  573,  573,  574,  575,  576,  578,  578,  579,  580,  581,
        583,  583,  584,  585,  586,  588,  588,  589,  590,  591,  593,
        593,  594,  595,  597,  597,  598,  600,  600,  601,  602,  603,
        605,  605,  606,  607,  609,  609,  610,  611,  612,  614,  614,
        615,  616,  617,  619,  619,  620,  621,  622,  624,  624,  625,
        626,  627,  629,  629,  630,  631,  633,  633,  634,  635,  636,
        638,  638,  639,  640,  641,  643,  643,  644,  645,  646,  648,
        648,  649,  650,  651,  653,  653,  654,  655,  656,  658,  658,
        659,  660,  662,  662,  663,  664,  665,  667,  667,  668,  669,
        670,  672,  672,  673,  674,  675,  677,  677,  678,  679,  680,
        682,  682,  683,  684,  685,  687,  687,  688,  689,  690,  692,
        692,  693,  694,  695,  697,  697,  698,  699,  701,  701,  702,
        703,  704,  706,  706,  707,  708,  709,  711,  711,  712,  713,
        714,  716,  716,  717,  718,  719,  721,  721,  723,  723,  725,
        725,  726,  727,  728,  730,  730,  731,  732,  733,  735,  735,
        736,  737,  738,  740,  740,  741,  742,  743,  745,  745,  746,
        747,  748,  750,  750,  751,  752,  753,  755,  755,  756,  757,
        758,  760,  760,  761,  762,  763,  765,  765,  766,  767,  769,
        769,  770,  771,  772,  774,  774,  775,  776,  777,  779,  779,
        780,  781,  782,  784,  784,  785,  786,  787,  789,  789,  790,
        791,  792,  794,  794,  795,  796,  797,  799,  799,  800,  801,
        802,  804,  804,  805,  806,  807,  809,  809,  810,  811,  812,
        814,  814,  815,  816,  817,  819,  819,  820,  822,  823,  823,
        824,  825,  826,  828,  828,  829,  830,  831,  833,  833,  834,
        835,  836,  838,  838,  839,  840,  841,  843,  844,  844,  845,
        847,  848,  848,  849,  851,  851,  852,  853,  854,  856,  856,
        857,  858,  859,  861,  861,  862,  863,  865,  865,  866,  867,
        868,  870,  870,  871,  872,  873,  875,  875,  876,  877,  878,
        880,  880,  881,  882,  884,  884,  885,  886,  887,  889,  889,
        890,  891,  892,  894,  894,  895,  896,  897,  899,  899,  900,
        901,  903,  903,  904,  905,  906,  908,  908,  909,  910,  911,
        913,  913,  914,  915,  916,  918,  918,  919,  920,  921,  923,
        923,  924,  925,  926,  928,  928,  929,  930,  931,  933,  933,
        934,  935,  936,  938,  938,  939,  940,  941,  943,  943,  944,
        945,  946,  948,  948,  949,  950,  952,  952,  953,  954,  955,
        957,  957,  958,  959,  960,  962,  962,  963,  964,  965,  967,
        967,  968,  969,  970,  972,  972,  973,  974,  976,  976,  977,
        978,  979,  981,  981,  982,  983,  984,  986,  986,  987,  988,
        989,  991,  991,  992,  993,  994,  996,  996,  997,  998,  999,
       1001, 1001, 1002, 1003, 1004, 1006, 1006, 1007, 1008, 1009, 1011,
       1011, 1012, 1013, 1014, 1016, 1016, 1017, 1018, 1020, 1020, 1021,
       1022, 1023, 1025, 1025, 1026, 1027, 1028, 1030, 1030, 1031, 1032,
       1033, 1035, 1035, 1036, 1037, 1038, 1040, 1040, 1041, 1042, 1043,
       1045, 1045, 1046, 1047, 1048, 1050, 1050, 1051, 1052, 1053, 1055,
       1055, 1056, 1057, 1058, 1060, 1060, 1061, 1062, 1063, 1065, 1065,
       1066, 1067, 1068, 1070, 1070, 1071, 1072, 1073, 1075, 1075, 1076,
       1078, 1079, 1079, 1080, 1081, 1082, 1084, 1084, 1085, 1086, 1087,
       1089, 1089, 1090, 1091, 1092, 1094, 1094, 1095, 1097, 1098, 1098,
       1099, 1101, 1102, 1102, 1103, 1104, 1105, 1107, 1107, 1108, 1109,
       1110, 1112, 1112, 1113, 1114, 1116, 1116, 1117, 1118, 1119, 1121,
       1121, 1122, 1123, 1124, 1126, 1126, 1127, 1128, 1129, 1131, 1131,
       1132, 1133, 1135, 1135, 1136, 1137, 1138, 1140, 1140, 1141, 1142,
       1143, 1145, 1145, 1146, 1147, 1148, 1150, 1150, 1151, 1152, 1153,
       1155, 1155, 1156, 1157, 1158, 1160, 1160, 1161, 1162, 1163, 1165,
       1165, 1166, 1167, 1169, 1169, 1170, 1171, 1172, 1174, 1174, 1175,
       1176, 1177, 1179, 1179, 1180, 1181, 1182, 1184, 1184, 1185, 1186,
       1187, 1189, 1189, 1190, 1191, 1192, 1194, 1194, 1195, 1196, 1197,
       1199, 1199, 1200, 1201, 1203, 1203, 1204, 1205, 1206, 1208, 1208,
       1209, 1210, 1211, 1213, 1213, 1214, 1215, 1216, 1218, 1218, 1219,
       1220, 1221, 1223, 1223, 1224, 1225, 1227, 1227, 1228, 1229, 1230,
       1232, 1232, 1233, 1234, 1235, 1237, 1237, 1238, 1239, 1240, 1242,
       1242, 1243, 1244, 1245, 1247, 1247, 1248, 1249, 1250, 1252, 1252,
       1253, 1254, 1255, 1257, 1257, 1258, 1259, 1260, 1262, 1262, 1263,
       1264, 1265, 1267, 1267, 1268, 1269, 1270, 1272, 1272, 1273, 1274,
       1276, 1276, 1277, 1278, 1279, 1281, 1281, 1282, 1283, 1284, 1286,
       1286, 1287, 1288, 1289, 1291, 1291, 1292, 1293, 1294, 1296, 1296,
       1297, 1298, 1299, 1301, 1301, 1302, 1303, 1304, 1306, 1306, 1307,
       1308, 1309, 1311, 1311, 1312, 1313, 1314, 1316, 1316, 1317, 1318,
       1319, 1321, 1321, 1322, 1323, 1324, 1326, 1326, 1327, 1329, 1330,
       1330, 1331, 1332, 1333, 1335, 1335, 1336, 1337, 1338, 1340, 1340,
       1341, 1342, 1343, 1345, 1345, 1346, 1347, 1349, 1349, 1350, 1351,
       1353, 1353, 1354, 1355, 1356, 1358, 1358, 1359, 1360, 1361, 1363,
       1363, 1364, 1365, 1367, 1367, 1368, 1369, 1370, 1372, 1372, 1373,
       1374, 1375, 1377, 1377, 1378, 1379, 1380, 1382, 1382, 1383, 1384,
       1386, 1386, 1387, 1388, 1389, 1391, 1391, 1392, 1393, 1394, 1396,
       1396, 1397, 1398, 1399, 1401, 1401, 1402, 1403, 1404, 1406, 1406,
       1407, 1408, 1409, 1411, 1411, 1412, 1413, 1415, 1415, 1416, 1417,
       1418, 1420, 1420, 1421, 1422, 1423, 1425, 1425, 1426, 1427, 1428,
       1430, 1430, 1431, 1432, 1433, 1435, 1435, 1436, 1437, 1438, 1440,
       1440, 1441, 1442, 1443, 1445, 1445, 1446, 1447, 1448, 1450, 1450,
       1451, 1452, 1453, 1455, 1455, 1456, 1457, 1459, 1459, 1460, 1461,
       1462, 1464, 1464, 1465, 1466, 1467, 1469, 1469, 1470, 1471, 1472,
       1474, 1474, 1475, 1476, 1477, 1479, 1479, 1480, 1481, 1483, 1483,
       1484, 1485, 1486, 1488, 1488, 1489, 1490, 1491, 1493, 1493, 1494,
       1495, 1496, 1498, 1498, 1499, 1500, 1501, 1503, 1503, 1504, 1505,
       1506, 1508, 1508, 1509, 1510, 1511, 1513, 1513, 1514, 1515, 1516,
       1518, 1518, 1519, 1520, 1521, 1523, 1523, 1524, 1525, 1527, 1527,
       1528, 1529, 1530, 1532, 1532, 1533, 1534, 1535, 1537, 1537, 1538,
       1539, 1540, 1542, 1542, 1543, 1544, 1545, 1547, 1547, 1548, 1549,
       1550, 1552, 1552, 1553, 1554, 1555, 1557, 1557, 1558, 1559, 1560,
       1562, 1562, 1563, 1564, 1565, 1567, 1567, 1568, 1569, 1570, 1572,
       1572, 1573, 1574, 1575, 1577, 1577, 1578, 1580, 1581, 1581, 1582,
       1583, 1584, 1586, 1586, 1587, 1588, 1589, 1591, 1591, 1592, 1593,
       1594, 1596, 1596, 1597, 1598, 1600, 1600, 1601, 1602, 1603, 1605,
       1605, 1606, 1607, 1608, 1610, 1610, 1611, 1612, 1613, 1615, 1615,
       1616, 1617, 1619, 1619, 1620, 1621, 1622, 1624, 1624, 1625, 1626,
       1627, 1629, 1629, 1630, 1631, 1632, 1634, 1634, 1635, 1636, 1637,
       1639, 1639, 1640, 1641, 1643, 1643, 1644, 1645, 1646, 1648, 1648,
       1649, 1650, 1651, 1653, 1653, 1654, 1655, 1656, 1658, 1658, 1659,
       1660, 1661, 1663, 1663, 1664, 1665, 1666, 1668, 1668, 1669, 1670,
       1671, 1673, 1673, 1674, 1675, 1676, 1678, 1678, 1679, 1680, 1682,
       1682, 1683, 1684, 1685, 1687, 1687, 1688, 1689, 1690, 1692, 1692,
       1693, 1694, 1695, 1697, 1697, 1698, 1699, 1700, 1702, 1702, 1703,
       1704, 1705, 1707, 1707, 1708, 1709, 1711, 1711, 1712, 1713, 1714,
       1716, 1716, 1717, 1718, 1719, 1721, 1721, 1722, 1723, 1724, 1726,
       1726, 1727, 1728, 1729, 1731, 1731, 1732, 1733, 1735, 1735, 1736,
       1737, 1738, 1740, 1740, 1741, 1742, 1743, 1745, 1745, 1746, 1747,
       1748, 1750, 1750, 1751, 1752, 1753, 1755, 1755, 1756, 1757, 1758,
       1760, 1760, 1761, 1762, 1763, 1765, 1765, 1766, 1767, 1768, 1770,
       1770, 1771, 1772, 1773, 1775, 1775, 1776, 1777, 1779, 1779, 1780,
       1781, 1782, 1784, 1784, 1785, 1786, 1787, 1789, 1789, 1790, 1791,
       1792, 1794, 1794, 1795, 1796, 1797, 1799, 1799, 1800, 1801, 1802,
       1804, 1804, 1805, 1806, 1807, 1809, 1809, 1810, 1811, 1812, 1814,
       1814, 1815, 1816, 1817, 1819, 1819, 1820, 1821, 1822, 1824, 1824,
       1825, 1826, 1827, 1829, 1829, 1830, 1832, 1833, 1833, 1834, 1835,
       1836, 1838, 1838, 1839, 1840, 1841, 1843, 1843, 1844, 1845, 1846,
       1848, 1848, 1849, 1850, 1851, 1853, 1853, 1854, 1855, 1857, 1857,
       1858, 1859, 1861, 1861, 1862, 1863, 1864, 1866, 1866, 1867, 1868,
       1870, 1870, 1871, 1872, 1873, 1875, 1875, 1876, 1877, 1878, 1880,
       1880, 1881, 1882, 1883, 1885, 1885, 1886, 1887, 1888, 1890, 1890,
       1891, 1892, 1894, 1894, 1895, 1896, 1897, 1899, 1899, 1900, 1901,
       1902, 1904, 1904, 1905, 1906, 1907, 1909, 1909, 1910, 1911, 1912,
       1914, 1914, 1915, 1916, 1917, 1919, 1919, 1920, 1921, 1923, 1923,
       1924, 1925, 1926, 1928, 1928, 1929, 1930, 1931, 1933, 1933, 1934,
       1935, 1936, 1938, 1938, 1939, 1940, 1941, 1943, 1943, 1944, 1945,
       1946, 1948, 1948, 1949, 1950, 1951, 1953, 1953, 1954, 1955, 1956,
       1958, 1958, 1959, 1960, 1962, 1962, 1963, 1964, 1965, 1967, 1967,
       1968, 1969, 1970, 1972, 1972, 1973, 1974, 1975, 1977, 1977, 1978,
       1979, 1980, 1982, 1982, 1984, 1984, 1986, 1986, 1987, 1988, 1989,
       1991, 1991, 1992, 1993, 1994, 1996, 1996, 1997, 1998, 1999, 2001,
       2001, 2002, 2003, 2004, 2006, 2006, 2007, 2008, 2009, 2011, 2011,
       2012, 2013, 2014, 2016, 2016, 2017, 2018, 2019, 2021, 2021, 2022,
       2023, 2024, 2026, 2026, 2027, 2028, 2030, 2030, 2031, 2032, 2033,
       2035, 2035, 2036, 2037, 2038, 2040, 2040, 2041, 2042, 2043, 2045,
       2045, 2046, 2047, 2048, 2050, 2050, 2051, 2052, 2053, 2055, 2055,
       2056, 2057, 2058, 2060, 2060, 2061, 2062, 2063, 2065, 2065, 2066,
       2068, 2068, 2069, 2070, 2071, 2073, 2073, 2074, 2075, 2076, 2078,
       2078, 2079, 2081, 2082, 2082, 2083, 2084, 2085, 2087, 2087, 2088,
       2089, 2090, 2092, 2092, 2093, 2094, 2095, 2097, 2097, 2098, 2099,
       2100, 2102, 2103, 2103, 2104, 2106, 2107, 2107, 2108, 2110, 2110,
       2111, 2112, 2113, 2115, 2115, 2116, 2117, 2118, 2120, 2120, 2121,
       2122, 2124, 2124, 2125, 2126, 2127, 2129, 2129, 2130, 2131, 2132,
       2134, 2134, 2135, 2136, 2137, 2139, 2139, 2140, 2141, 2143, 2143,
       2144, 2145, 2146, 2148, 2148, 2149, 2150, 2151, 2153, 2153, 2154,
       2155, 2156, 2158, 2158, 2159, 2160, 2161, 2163, 2163, 2164, 2165,
       2167, 2167, 2168, 2169, 2170, 2172, 2172, 2173, 2174, 2175, 2177,
       2177, 2178, 2179, 2180, 2182, 2182, 2183, 2184, 2185, 2187, 2187,
       2188, 2189, 2190, 2192, 2192, 2193, 2194, 2195, 2197, 2197, 2198,
       2199, 2200, 2202, 2202, 2203, 2204, 2205, 2207, 2207, 2208, 2209,
       2211, 2211, 2212, 2213, 2214, 2216, 2216, 2217, 2218, 2219, 2221,
       2221, 2222, 2223, 2224, 2226, 2226, 2227, 2228, 2229, 2231, 2231,
       2232, 2234, 2235, 2235, 2236, 2237, 2238, 2240, 2240, 2241, 2242,
       2243, 2245, 2245, 2246, 2247, 2248, 2250, 2250, 2251, 2252, 2253,
       2255, 2255, 2256, 2257, 2258, 2260, 2260, 2261, 2262, 2263, 2265,
       2265, 2266, 2267, 2268, 2270, 2270, 2271, 2272, 2273, 2275, 2275,
       2276, 2277, 2279, 2279, 2280, 2281, 2282, 2284, 2284, 2285, 2286,
       2287, 2289, 2289, 2290, 2291, 2292, 2294, 2294, 2295, 2296, 2297,
       2299, 2299, 2300, 2301, 2302, 2304, 2304, 2305, 2306, 2307, 2309,
       2309, 2310, 2311, 2312, 2314, 2314, 2315, 2316, 2317, 2319, 2319,
       2320, 2321, 2322, 2324, 2324, 2325, 2326, 2327, 2329, 2329, 2330,
       2331, 2332, 2334, 2334, 2335, 2337, 2338, 2338, 2339, 2340, 2341,
       2343, 2343, 2344, 2345, 2346, 2348, 2348, 2349, 2350, 2351, 2353,
       2353, 2355, 2355, 2357, 2357, 2359, 2359, 2361, 2361, 2362, 2363,
       2364, 2366, 2366, 2367, 2368, 2369, 2371, 2371, 2372, 2373, 2375,
       2375, 2376, 2377, 2378, 2380, 2380, 2381, 2382, 2383, 2385, 2385,
       2386, 2387, 2388, 2390, 2390, 2391, 2392, 2394, 2394, 2395, 2396,
       2397, 2399, 2399, 2400, 2401, 2402, 2404, 2404, 2405, 2406, 2407,
       2409, 2409, 2410, 2411, 2412, 2414, 2414, 2415, 2416, 2417, 2419,
       2419, 2420, 2421, 2422, 2424, 2424, 2425, 2426, 2427, 2429, 2429,
       2430, 2431, 2433, 2433, 2434, 2435, 2436, 2438, 2438, 2439, 2440,
       2441, 2443, 2443, 2444, 2445, 2446, 2448, 2448, 2449, 2450, 2451,
       2453, 2453, 2454, 2455, 2456, 2458, 2458, 2459, 2460, 2462, 2462,
       2463, 2464, 2465, 2467, 2467, 2468, 2469, 2470, 2472, 2472, 2473,
       2474, 2475, 2477, 2477, 2478, 2479, 2480, 2482, 2482, 2483, 2484,
       2486, 2486, 2487, 2488, 2489, 2491, 2491, 2492, 2493, 2494, 2496,
       2496, 2497, 2498, 2499, 2501, 2501, 2502, 2503, 2504, 2506, 2506,
       2507, 2508, 2509, 2511, 2511, 2512, 2513, 2514, 2516, 2516, 2517,
       2518, 2519, 2521, 2521, 2522, 2523, 2524, 2526, 2526, 2527, 2528,
       2530, 2530, 2531, 2532, 2533, 2535, 2535, 2536, 2537, 2538, 2540,
       2540, 2541, 2542, 2543, 2545, 2545, 2546, 2547, 2548, 2550, 2550,
       2551, 2552, 2553, 2555, 2555, 2556, 2557, 2558, 2560, 2560, 2561,
       2562, 2563, 2565, 2565, 2566, 2567, 2568, 2570, 2570, 2571, 2572,
       2573, 2575, 2575, 2576, 2577, 2578, 2580, 2580, 2581, 2582, 2583,
       2585, 2585, 2586, 2588, 2589, 2589, 2590, 2591, 2592, 2594, 2594,
       2595, 2596, 2597, 2599, 2599, 2600, 2601, 2602, 2604, 2604, 2605,
       2607, 2608, 2608, 2609, 2611, 2612, 2612, 2613, 2614, 2615, 2617,
       2617, 2618, 2619, 2620, 2622, 2622, 2623, 2624, 2626, 2626, 2627,
       2628, 2629, 2631, 2631, 2632, 2633, 2634, 2636, 2636, 2637, 2638,
       2639, 2641, 2641, 2642, 2643, 2645, 2645, 2646, 2647, 2648, 2650,
       2650, 2651, 2652, 2653, 2655, 2655, 2656, 2657, 2658, 2660, 2660,
       2661, 2662, 2663, 2665, 2665, 2666, 2667, 2668, 2670, 2670, 2671,
       2672, 2674, 2674, 2675, 2676, 2677, 2679, 2679, 2680, 2681, 2682,
       2684, 2684, 2685, 2686, 2687, 2689, 2689, 2690, 2691, 2692, 2694,
       2694, 2695, 2696, 2697, 2699, 2699, 2700, 2701, 2702, 2704, 2704,
       2705, 2706, 2707, 2709, 2709, 2710, 2711, 2713, 2713, 2714, 2715,
       2716, 2718, 2718, 2719, 2720, 2721, 2723, 2723, 2724, 2725, 2726,
       2728, 2728, 2729, 2730, 2731, 2733, 2733, 2734, 2735, 2737, 2737,
       2738, 2739, 2740, 2742, 2742, 2743, 2744, 2745, 2747, 2747, 2748,
       2749, 2750, 2752, 2752, 2753, 2754, 2755, 2757, 2757, 2758, 2759,
       2760, 2762, 2762, 2763, 2764, 2765, 2767, 2767, 2768, 2769, 2770,
       2772, 2772, 2773, 2774, 2775, 2777, 2777, 2778, 2779, 2780, 2782,
       2782, 2783, 2784, 2786, 2786, 2787, 2788, 2789, 2791, 2791, 2792,
       2793, 2794, 2796, 2796, 2797, 2798, 2799, 2801, 2801, 2802, 2803,
       2804, 2806, 2806, 2807, 2808, 2809, 2811, 2811, 2812, 2813, 2814,
       2816, 2816, 2817, 2818, 2819, 2821, 2821, 2822, 2823, 2824, 2826,
       2826, 2827, 2828, 2829, 2831, 2831, 2832, 2833, 2834, 2836, 2836,
       2837, 2839, 2840, 2840, 2841, 2842, 2843, 2845, 2845, 2846, 2847,
       2848, 2850, 2850, 2851, 2852, 2853, 2855, 2855, 2856, 2857, 2859,
       2859, 2860, 2861, 2863, 2863, 2864, 2865, 2866, 2868, 2868, 2869,
       2870, 2871, 2873, 2873, 2874, 2875, 2877, 2877, 2878, 2879, 2880,
       2882, 2882, 2883, 2884, 2885, 2887, 2887, 2888, 2889, 2890, 2892,
       2892, 2893, 2894, 2896, 2896, 2897, 2898, 2899, 2901, 2901, 2902,
       2903, 2904, 2906, 2906, 2907, 2908, 2909, 2911, 2911, 2912, 2913,
       2914, 2916, 2916, 2917, 2918, 2920, 2920, 2921, 2922, 2923, 2925,
       2925, 2926, 2927, 2928, 2930, 2930, 2931, 2932, 2933, 2935, 2935,
       2936, 2937, 2938, 2940, 2940, 2941, 2942, 2943, 2945, 2945, 2946,
       2947, 2948, 2950, 2950, 2951, 2952, 2953, 2955, 2955, 2956, 2957,
       2958, 2960, 2960, 2961, 2962, 2963, 2965, 2965, 2966, 2967, 2969,
       2969, 2970, 2971, 2972, 2974, 2974, 2975, 2976, 2977, 2979, 2979,
       2980, 2981, 2982, 2984, 2984, 2985, 2986, 2987, 2989, 2989, 2990,
       2991, 2993, 2993, 2994, 2995, 2996, 2998, 2998, 2999, 3000, 3001,

In [104]:
close.index.se

AttributeError: 'DatetimeIndex' object has no attribute 'se'

In [105]:
close.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17'],
              dtype='datetime64[ns]', length=3125, freq=None)

In [106]:
import numpy
numpy.set_printoptions(threshold=numpy.nan)

In [107]:
use_idx

array([   0,    0,    2,    2,    3,    4,    5,    7,    7,    8,    9,
         10,   12,   12,   13,   14,   16,   16,   17,   18,   19,   21,
         21,   22,   23,   24,   26,   26,   27,   28,   29,   31,   31,
         32,   33,   34,   36,   36,   37,   38,   39,   41,   41,   42,
         43,   44,   46,   46,   47,   48,   49,   51,   51,   52,   53,
         54,   56,   56,   57,   58,   59,   61,   61,   62,   63,   64,
         66,   66,   67,   69,   70,   70,   71,   72,   73,   75,   75,
         76,   77,   78,   80,   80,   81,   82,   83,   85,   85,   86,
         87,   89,   89,   90,   91,   92,   94,   94,   95,   96,   97,
         99,   99,  100,  101,  102,  104,  104,  105,  106,  108,  108,
        109,  110,  111,  113,  113,  114,  115,  116,  118,  118,  119,
        120,  121,  123,  123,  124,  125,  126,  128,  128,  129,  130,
        132,  132,  133,  134,  135,  137,  137,  138,  139,  140,  142,
        142,  143,  144,  145,  147,  147,  148,  149,  151,  151,  152,
        153,  154,  156,  156,  157,  158,  159,  161,  161,  162,  163,
        164,  166,  166,  167,  168,  169,  171,  171,  172,  173,  174,
        176,  176,  177,  178,  179,  181,  181,  182,  183,  184,  186,
        186,  187,  188,  189,  191,  191,  192,  193,  194,  196,  196,
        197,  198,  200,  200,  201,  202,  203,  205,  205,  206,  207,
        208,  210,  210,  211,  212,  213,  215,  215,  216,  217,  218,
        220,  220,  221,  222,  224,  224,  225,  226,  227,  229,  229,
        230,  231,  232,  234,  234,  235,  236,  237,  239,  239,  240,
        241,  242,  244,  244,  245,  246,  247,  249,  249,  250,  251,
        252,  254,  254,  255,  256,  257,  259,  259,  260,  261,  262,
        264,  264,  265,  266,  268,  268,  269,  270,  271,  273,  273,
        274,  275,  276,  278,  278,  279,  280,  281,  283,  283,  284,
        285,  286,  288,  288,  289,  290,  291,  293,  293,  294,  295,
        296,  298,  298,  299,  300,  301,  303,  303,  304,  305,  306,
        308,  308,  309,  310,  311,  313,  313,  314,  315,  316,  318,
        318,  319,  321,  322,  322,  323,  324,  325,  327,  327,  328,
        329,  330,  332,  332,  333,  334,  335,  337,  337,  338,  339,
        340,  342,  342,  343,  344,  346,  346,  347,  348,  350,  350,
        351,  352,  353,  355,  355,  356,  357,  359,  359,  360,  361,
        362,  364,  364,  365,  366,  367,  369,  369,  370,  371,  372,
        374,  374,  375,  376,  377,  379,  379,  380,  381,  383,  383,
        384,  385,  386,  388,  388,  389,  390,  391,  393,  393,  394,
        395,  396,  398,  398,  399,  400,  401,  403,  403,  404,  405,
        406,  408,  408,  409,  410,  411,  413,  413,  414,  415,  417,
        417,  418,  419,  420,  422,  422,  423,  424,  425,  427,  427,
        428,  429,  430,  432,  432,  433,  434,  435,  437,  437,  438,
        439,  440,  442,  442,  443,  444,  445,  447,  447,  448,  449,
        451,  451,  452,  453,  454,  456,  456,  457,  458,  459,  461,
        461,  462,  463,  464,  466,  466,  467,  468,  469,  471,  472,
        472,  473,  475,  475,  476,  477,  478,  480,  480,  481,  482,
        483,  485,  485,  486,  487,  488,  490,  490,  491,  492,  493,
        495,  495,  496,  497,  498,  500,  500,  501,  502,  503,  505,
        505,  506,  507,  508,  510,  510,  511,  512,  513,  515,  515,
        516,  517,  519,  519,  520,  521,  522,  524,  524,  525,  526,
        527,  529,  529,  530,  531,  532,  534,  534,  535,  536,  537,
        539,  539,  540,  541,  542,  544,  544,  545,  546,  547,  549,
        549,  550,  551,  552,  554,  554,  555,  556,  557,  559,  559,
        560,  561,  562,  564,  564,  565,  566,  567,  569,  569,  570,
        572,  573,  573,  574,  575,  576,  578,  578,  579,  580,  581,
        583,  583,  584,  585,  586,  588,  588,  589,  590,  591,  593,
        593,  594,  595,  597,  597,  598,  600,  600,  601,  602,  603,
        605,  605,  606,  607,  609,  609,  610,  611,  612,  614,  614,
        615,  616,  617,  619,  619,  620,  621,  622,  624,  624,  625,
        626,  627,  629,  629,  630,  631,  633,  633,  634,  635,  636,
        638,  638,  639,  640,  641,  643,  643,  644,  645,  646,  648,
        648,  649,  650,  651,  653,  653,  654,  655,  656,  658,  658,
        659,  660,  662,  662,  663,  664,  665,  667,  667,  668,  669,
        670,  672,  672,  673,  674,  675,  677,  677,  678,  679,  680,
        682,  682,  683,  684,  685,  687,  687,  688,  689,  690,  692,
        692,  693,  694,  695,  697,  697,  698,  699,  701,  701,  702,
        703,  704,  706,  706,  707,  708,  709,  711,  711,  712,  713,
        714,  716,  716,  717,  718,  719,  721,  721,  723,  723,  725,
        725,  726,  727,  728,  730,  730,  731,  732,  733,  735,  735,
        736,  737,  738,  740,  740,  741,  742,  743,  745,  745,  746,
        747,  748,  750,  750,  751,  752,  753,  755,  755,  756,  757,
        758,  760,  760,  761,  762,  763,  765,  765,  766,  767,  769,
        769,  770,  771,  772,  774,  774,  775,  776,  777,  779,  779,
        780,  781,  782,  784,  784,  785,  786,  787,  789,  789,  790,
        791,  792,  794,  794,  795,  796,  797,  799,  799,  800,  801,
        802,  804,  804,  805,  806,  807,  809,  809,  810,  811,  812,
        814,  814,  815,  816,  817,  819,  819,  820,  822,  823,  823,
        824,  825,  826,  828,  828,  829,  830,  831,  833,  833,  834,
        835,  836,  838,  838,  839,  840,  841,  843,  844,  844,  845,
        847,  848,  848,  849,  851,  851,  852,  853,  854,  856,  856,
        857,  858,  859,  861,  861,  862,  863,  865,  865,  866,  867,
        868,  870,  870,  871,  872,  873,  875,  875,  876,  877,  878,
        880,  880,  881,  882,  884,  884,  885,  886,  887,  889,  889,
        890,  891,  892,  894,  894,  895,  896,  897,  899,  899,  900,
        901,  903,  903,  904,  905,  906,  908,  908,  909,  910,  911,
        913,  913,  914,  915,  916,  918,  918,  919,  920,  921,  923,
        923,  924,  925,  926,  928,  928,  929,  930,  931,  933,  933,
        934,  935,  936,  938,  938,  939,  940,  941,  943,  943,  944,
        945,  946,  948,  948,  949,  950,  952,  952,  953,  954,  955,
        957,  957,  958,  959,  960,  962,  962,  963,  964,  965,  967,
        967,  968,  969,  970,  972,  972,  973,  974,  976,  976,  977,
        978,  979,  981,  981,  982,  983,  984,  986,  986,  987,  988,
        989,  991,  991,  992,  993,  994,  996,  996,  997,  998,  999,
       1001, 1001, 1002, 1003, 1004, 1006, 1006, 1007, 1008, 1009, 1011,
       1011, 1012, 1013, 1014, 1016, 1016, 1017, 1018, 1020, 1020, 1021,
       1022, 1023, 1025, 1025, 1026, 1027, 1028, 1030, 1030, 1031, 1032,
       1033, 1035, 1035, 1036, 1037, 1038, 1040, 1040, 1041, 1042, 1043,
       1045, 1045, 1046, 1047, 1048, 1050, 1050, 1051, 1052, 1053, 1055,
       1055, 1056, 1057, 1058, 1060, 1060, 1061, 1062, 1063, 1065, 1065,
       1066, 1067, 1068, 1070, 1070, 1071, 1072, 1073, 1075, 1075, 1076,
       1078, 1079, 1079, 1080, 1081, 1082, 1084, 1084, 1085, 1086, 1087,
       1089, 1089, 1090, 1091, 1092, 1094, 1094, 1095, 1097, 1098, 1098,
       1099, 1101, 1102, 1102, 1103, 1104, 1105, 1107, 1107, 1108, 1109,
       1110, 1112, 1112, 1113, 1114, 1116, 1116, 1117, 1118, 1119, 1121,
       1121, 1122, 1123, 1124, 1126, 1126, 1127, 1128, 1129, 1131, 1131,
       1132, 1133, 1135, 1135, 1136, 1137, 1138, 1140, 1140, 1141, 1142,
       1143, 1145, 1145, 1146, 1147, 1148, 1150, 1150, 1151, 1152, 1153,
       1155, 1155, 1156, 1157, 1158, 1160, 1160, 1161, 1162, 1163, 1165,
       1165, 1166, 1167, 1169, 1169, 1170, 1171, 1172, 1174, 1174, 1175,
       1176, 1177, 1179, 1179, 1180, 1181, 1182, 1184, 1184, 1185, 1186,
       1187, 1189, 1189, 1190, 1191, 1192, 1194, 1194, 1195, 1196, 1197,
       1199, 1199, 1200, 1201, 1203, 1203, 1204, 1205, 1206, 1208, 1208,
       1209, 1210, 1211, 1213, 1213, 1214, 1215, 1216, 1218, 1218, 1219,
       1220, 1221, 1223, 1223, 1224, 1225, 1227, 1227, 1228, 1229, 1230,
       1232, 1232, 1233, 1234, 1235, 1237, 1237, 1238, 1239, 1240, 1242,
       1242, 1243, 1244, 1245, 1247, 1247, 1248, 1249, 1250, 1252, 1252,
       1253, 1254, 1255, 1257, 1257, 1258, 1259, 1260, 1262, 1262, 1263,
       1264, 1265, 1267, 1267, 1268, 1269, 1270, 1272, 1272, 1273, 1274,
       1276, 1276, 1277, 1278, 1279, 1281, 1281, 1282, 1283, 1284, 1286,
       1286, 1287, 1288, 1289, 1291, 1291, 1292, 1293, 1294, 1296, 1296,
       1297, 1298, 1299, 1301, 1301, 1302, 1303, 1304, 1306, 1306, 1307,
       1308, 1309, 1311, 1311, 1312, 1313, 1314, 1316, 1316, 1317, 1318,
       1319, 1321, 1321, 1322, 1323, 1324, 1326, 1326, 1327, 1329, 1330,
       1330, 1331, 1332, 1333, 1335, 1335, 1336, 1337, 1338, 1340, 1340,
       1341, 1342, 1343, 1345, 1345, 1346, 1347, 1349, 1349, 1350, 1351,
       1353, 1353, 1354, 1355, 1356, 1358, 1358, 1359, 1360, 1361, 1363,
       1363, 1364, 1365, 1367, 1367, 1368, 1369, 1370, 1372, 1372, 1373,
       1374, 1375, 1377, 1377, 1378, 1379, 1380, 1382, 1382, 1383, 1384,
       1386, 1386, 1387, 1388, 1389, 1391, 1391, 1392, 1393, 1394, 1396,
       1396, 1397, 1398, 1399, 1401, 1401, 1402, 1403, 1404, 1406, 1406,
       1407, 1408, 1409, 1411, 1411, 1412, 1413, 1415, 1415, 1416, 1417,
       1418, 1420, 1420, 1421, 1422, 1423, 1425, 1425, 1426, 1427, 1428,
       1430, 1430, 1431, 1432, 1433, 1435, 1435, 1436, 1437, 1438, 1440,
       1440, 1441, 1442, 1443, 1445, 1445, 1446, 1447, 1448, 1450, 1450,
       1451, 1452, 1453, 1455, 1455, 1456, 1457, 1459, 1459, 1460, 1461,
       1462, 1464, 1464, 1465, 1466, 1467, 1469, 1469, 1470, 1471, 1472,
       1474, 1474, 1475, 1476, 1477, 1479, 1479, 1480, 1481, 1483, 1483,
       1484, 1485, 1486, 1488, 1488, 1489, 1490, 1491, 1493, 1493, 1494,
       1495, 1496, 1498, 1498, 1499, 1500, 1501, 1503, 1503, 1504, 1505,
       1506, 1508, 1508, 1509, 1510, 1511, 1513, 1513, 1514, 1515, 1516,
       1518, 1518, 1519, 1520, 1521, 1523, 1523, 1524, 1525, 1527, 1527,
       1528, 1529, 1530, 1532, 1532, 1533, 1534, 1535, 1537, 1537, 1538,
       1539, 1540, 1542, 1542, 1543, 1544, 1545, 1547, 1547, 1548, 1549,
       1550, 1552, 1552, 1553, 1554, 1555, 1557, 1557, 1558, 1559, 1560,
       1562, 1562, 1563, 1564, 1565, 1567, 1567, 1568, 1569, 1570, 1572,
       1572, 1573, 1574, 1575, 1577, 1577, 1578, 1580, 1581, 1581, 1582,
       1583, 1584, 1586, 1586, 1587, 1588, 1589, 1591, 1591, 1592, 1593,
       1594, 1596, 1596, 1597, 1598, 1600, 1600, 1601, 1602, 1603, 1605,
       1605, 1606, 1607, 1608, 1610, 1610, 1611, 1612, 1613, 1615, 1615,
       1616, 1617, 1619, 1619, 1620, 1621, 1622, 1624, 1624, 1625, 1626,
       1627, 1629, 1629, 1630, 1631, 1632, 1634, 1634, 1635, 1636, 1637,
       1639, 1639, 1640, 1641, 1643, 1643, 1644, 1645, 1646, 1648, 1648,
       1649, 1650, 1651, 1653, 1653, 1654, 1655, 1656, 1658, 1658, 1659,
       1660, 1661, 1663, 1663, 1664, 1665, 1666, 1668, 1668, 1669, 1670,
       1671, 1673, 1673, 1674, 1675, 1676, 1678, 1678, 1679, 1680, 1682,
       1682, 1683, 1684, 1685, 1687, 1687, 1688, 1689, 1690, 1692, 1692,
       1693, 1694, 1695, 1697, 1697, 1698, 1699, 1700, 1702, 1702, 1703,
       1704, 1705, 1707, 1707, 1708, 1709, 1711, 1711, 1712, 1713, 1714,
       1716, 1716, 1717, 1718, 1719, 1721, 1721, 1722, 1723, 1724, 1726,
       1726, 1727, 1728, 1729, 1731, 1731, 1732, 1733, 1735, 1735, 1736,
       1737, 1738, 1740, 1740, 1741, 1742, 1743, 1745, 1745, 1746, 1747,
       1748, 1750, 1750, 1751, 1752, 1753, 1755, 1755, 1756, 1757, 1758,
       1760, 1760, 1761, 1762, 1763, 1765, 1765, 1766, 1767, 1768, 1770,
       1770, 1771, 1772, 1773, 1775, 1775, 1776, 1777, 1779, 1779, 1780,
       1781, 1782, 1784, 1784, 1785, 1786, 1787, 1789, 1789, 1790, 1791,
       1792, 1794, 1794, 1795, 1796, 1797, 1799, 1799, 1800, 1801, 1802,
       1804, 1804, 1805, 1806, 1807, 1809, 1809, 1810, 1811, 1812, 1814,
       1814, 1815, 1816, 1817, 1819, 1819, 1820, 1821, 1822, 1824, 1824,
       1825, 1826, 1827, 1829, 1829, 1830, 1832, 1833, 1833, 1834, 1835,
       1836, 1838, 1838, 1839, 1840, 1841, 1843, 1843, 1844, 1845, 1846,
       1848, 1848, 1849, 1850, 1851, 1853, 1853, 1854, 1855, 1857, 1857,
       1858, 1859, 1861, 1861, 1862, 1863, 1864, 1866, 1866, 1867, 1868,
       1870, 1870, 1871, 1872, 1873, 1875, 1875, 1876, 1877, 1878, 1880,
       1880, 1881, 1882, 1883, 1885, 1885, 1886, 1887, 1888, 1890, 1890,
       1891, 1892, 1894, 1894, 1895, 1896, 1897, 1899, 1899, 1900, 1901,
       1902, 1904, 1904, 1905, 1906, 1907, 1909, 1909, 1910, 1911, 1912,
       1914, 1914, 1915, 1916, 1917, 1919, 1919, 1920, 1921, 1923, 1923,
       1924, 1925, 1926, 1928, 1928, 1929, 1930, 1931, 1933, 1933, 1934,
       1935, 1936, 1938, 1938, 1939, 1940, 1941, 1943, 1943, 1944, 1945,
       1946, 1948, 1948, 1949, 1950, 1951, 1953, 1953, 1954, 1955, 1956,
       1958, 1958, 1959, 1960, 1962, 1962, 1963, 1964, 1965, 1967, 1967,
       1968, 1969, 1970, 1972, 1972, 1973, 1974, 1975, 1977, 1977, 1978,
       1979, 1980, 1982, 1982, 1984, 1984, 1986, 1986, 1987, 1988, 1989,
       1991, 1991, 1992, 1993, 1994, 1996, 1996, 1997, 1998, 1999, 2001,
       2001, 2002, 2003, 2004, 2006, 2006, 2007, 2008, 2009, 2011, 2011,
       2012, 2013, 2014, 2016, 2016, 2017, 2018, 2019, 2021, 2021, 2022,
       2023, 2024, 2026, 2026, 2027, 2028, 2030, 2030, 2031, 2032, 2033,
       2035, 2035, 2036, 2037, 2038, 2040, 2040, 2041, 2042, 2043, 2045,
       2045, 2046, 2047, 2048, 2050, 2050, 2051, 2052, 2053, 2055, 2055,
       2056, 2057, 2058, 2060, 2060, 2061, 2062, 2063, 2065, 2065, 2066,
       2068, 2068, 2069, 2070, 2071, 2073, 2073, 2074, 2075, 2076, 2078,
       2078, 2079, 2081, 2082, 2082, 2083, 2084, 2085, 2087, 2087, 2088,
       2089, 2090, 2092, 2092, 2093, 2094, 2095, 2097, 2097, 2098, 2099,
       2100, 2102, 2103, 2103, 2104, 2106, 2107, 2107, 2108, 2110, 2110,
       2111, 2112, 2113, 2115, 2115, 2116, 2117, 2118, 2120, 2120, 2121,
       2122, 2124, 2124, 2125, 2126, 2127, 2129, 2129, 2130, 2131, 2132,
       2134, 2134, 2135, 2136, 2137, 2139, 2139, 2140, 2141, 2143, 2143,
       2144, 2145, 2146, 2148, 2148, 2149, 2150, 2151, 2153, 2153, 2154,
       2155, 2156, 2158, 2158, 2159, 2160, 2161, 2163, 2163, 2164, 2165,
       2167, 2167, 2168, 2169, 2170, 2172, 2172, 2173, 2174, 2175, 2177,
       2177, 2178, 2179, 2180, 2182, 2182, 2183, 2184, 2185, 2187, 2187,
       2188, 2189, 2190, 2192, 2192, 2193, 2194, 2195, 2197, 2197, 2198,
       2199, 2200, 2202, 2202, 2203, 2204, 2205, 2207, 2207, 2208, 2209,
       2211, 2211, 2212, 2213, 2214, 2216, 2216, 2217, 2218, 2219, 2221,
       2221, 2222, 2223, 2224, 2226, 2226, 2227, 2228, 2229, 2231, 2231,
       2232, 2234, 2235, 2235, 2236, 2237, 2238, 2240, 2240, 2241, 2242,
       2243, 2245, 2245, 2246, 2247, 2248, 2250, 2250, 2251, 2252, 2253,
       2255, 2255, 2256, 2257, 2258, 2260, 2260, 2261, 2262, 2263, 2265,
       2265, 2266, 2267, 2268, 2270, 2270, 2271, 2272, 2273, 2275, 2275,
       2276, 2277, 2279, 2279, 2280, 2281, 2282, 2284, 2284, 2285, 2286,
       2287, 2289, 2289, 2290, 2291, 2292, 2294, 2294, 2295, 2296, 2297,
       2299, 2299, 2300, 2301, 2302, 2304, 2304, 2305, 2306, 2307, 2309,
       2309, 2310, 2311, 2312, 2314, 2314, 2315, 2316, 2317, 2319, 2319,
       2320, 2321, 2322, 2324, 2324, 2325, 2326, 2327, 2329, 2329, 2330,
       2331, 2332, 2334, 2334, 2335, 2337, 2338, 2338, 2339, 2340, 2341,
       2343, 2343, 2344, 2345, 2346, 2348, 2348, 2349, 2350, 2351, 2353,
       2353, 2355, 2355, 2357, 2357, 2359, 2359, 2361, 2361, 2362, 2363,
       2364, 2366, 2366, 2367, 2368, 2369, 2371, 2371, 2372, 2373, 2375,
       2375, 2376, 2377, 2378, 2380, 2380, 2381, 2382, 2383, 2385, 2385,
       2386, 2387, 2388, 2390, 2390, 2391, 2392, 2394, 2394, 2395, 2396,
       2397, 2399, 2399, 2400, 2401, 2402, 2404, 2404, 2405, 2406, 2407,
       2409, 2409, 2410, 2411, 2412, 2414, 2414, 2415, 2416, 2417, 2419,
       2419, 2420, 2421, 2422, 2424, 2424, 2425, 2426, 2427, 2429, 2429,
       2430, 2431, 2433, 2433, 2434, 2435, 2436, 2438, 2438, 2439, 2440,
       2441, 2443, 2443, 2444, 2445, 2446, 2448, 2448, 2449, 2450, 2451,
       2453, 2453, 2454, 2455, 2456, 2458, 2458, 2459, 2460, 2462, 2462,
       2463, 2464, 2465, 2467, 2467, 2468, 2469, 2470, 2472, 2472, 2473,
       2474, 2475, 2477, 2477, 2478, 2479, 2480, 2482, 2482, 2483, 2484,
       2486, 2486, 2487, 2488, 2489, 2491, 2491, 2492, 2493, 2494, 2496,
       2496, 2497, 2498, 2499, 2501, 2501, 2502, 2503, 2504, 2506, 2506,
       2507, 2508, 2509, 2511, 2511, 2512, 2513, 2514, 2516, 2516, 2517,
       2518, 2519, 2521, 2521, 2522, 2523, 2524, 2526, 2526, 2527, 2528,
       2530, 2530, 2531, 2532, 2533, 2535, 2535, 2536, 2537, 2538, 2540,
       2540, 2541, 2542, 2543, 2545, 2545, 2546, 2547, 2548, 2550, 2550,
       2551, 2552, 2553, 2555, 2555, 2556, 2557, 2558, 2560, 2560, 2561,
       2562, 2563, 2565, 2565, 2566, 2567, 2568, 2570, 2570, 2571, 2572,
       2573, 2575, 2575, 2576, 2577, 2578, 2580, 2580, 2581, 2582, 2583,
       2585, 2585, 2586, 2588, 2589, 2589, 2590, 2591, 2592, 2594, 2594,
       2595, 2596, 2597, 2599, 2599, 2600, 2601, 2602, 2604, 2604, 2605,
       2607, 2608, 2608, 2609, 2611, 2612, 2612, 2613, 2614, 2615, 2617,
       2617, 2618, 2619, 2620, 2622, 2622, 2623, 2624, 2626, 2626, 2627,
       2628, 2629, 2631, 2631, 2632, 2633, 2634, 2636, 2636, 2637, 2638,
       2639, 2641, 2641, 2642, 2643, 2645, 2645, 2646, 2647, 2648, 2650,
       2650, 2651, 2652, 2653, 2655, 2655, 2656, 2657, 2658, 2660, 2660,
       2661, 2662, 2663, 2665, 2665, 2666, 2667, 2668, 2670, 2670, 2671,
       2672, 2674, 2674, 2675, 2676, 2677, 2679, 2679, 2680, 2681, 2682,
       2684, 2684, 2685, 2686, 2687, 2689, 2689, 2690, 2691, 2692, 2694,
       2694, 2695, 2696, 2697, 2699, 2699, 2700, 2701, 2702, 2704, 2704,
       2705, 2706, 2707, 2709, 2709, 2710, 2711, 2713, 2713, 2714, 2715,
       2716, 2718, 2718, 2719, 2720, 2721, 2723, 2723, 2724, 2725, 2726,
       2728, 2728, 2729, 2730, 2731, 2733, 2733, 2734, 2735, 2737, 2737,
       2738, 2739, 2740, 2742, 2742, 2743, 2744, 2745, 2747, 2747, 2748,
       2749, 2750, 2752, 2752, 2753, 2754, 2755, 2757, 2757, 2758, 2759,
       2760, 2762, 2762, 2763, 2764, 2765, 2767, 2767, 2768, 2769, 2770,
       2772, 2772, 2773, 2774, 2775, 2777, 2777, 2778, 2779, 2780, 2782,
       2782, 2783, 2784, 2786, 2786, 2787, 2788, 2789, 2791, 2791, 2792,
       2793, 2794, 2796, 2796, 2797, 2798, 2799, 2801, 2801, 2802, 2803,
       2804, 2806, 2806, 2807, 2808, 2809, 2811, 2811, 2812, 2813, 2814,
       2816, 2816, 2817, 2818, 2819, 2821, 2821, 2822, 2823, 2824, 2826,
       2826, 2827, 2828, 2829, 2831, 2831, 2832, 2833, 2834, 2836, 2836,
       2837, 2839, 2840, 2840, 2841, 2842, 2843, 2845, 2845, 2846, 2847,
       2848, 2850, 2850, 2851, 2852, 2853, 2855, 2855, 2856, 2857, 2859,
       2859, 2860, 2861, 2863, 2863, 2864, 2865, 2866, 2868, 2868, 2869,
       2870, 2871, 2873, 2873, 2874, 2875, 2877, 2877, 2878, 2879, 2880,
       2882, 2882, 2883, 2884, 2885, 2887, 2887, 2888, 2889, 2890, 2892,
       2892, 2893, 2894, 2896, 2896, 2897, 2898, 2899, 2901, 2901, 2902,
       2903, 2904, 2906, 2906, 2907, 2908, 2909, 2911, 2911, 2912, 2913,
       2914, 2916, 2916, 2917, 2918, 2920, 2920, 2921, 2922, 2923, 2925,
       2925, 2926, 2927, 2928, 2930, 2930, 2931, 2932, 2933, 2935, 2935,
       2936, 2937, 2938, 2940, 2940, 2941, 2942, 2943, 2945, 2945, 2946,
       2947, 2948, 2950, 2950, 2951, 2952, 2953, 2955, 2955, 2956, 2957,
       2958, 2960, 2960, 2961, 2962, 2963, 2965, 2965, 2966, 2967, 2969,
       2969, 2970, 2971, 2972, 2974, 2974, 2975, 2976, 2977, 2979, 2979,
       2980, 2981, 2982, 2984, 2984, 2985, 2986, 2987, 2989, 2989, 2990,
       2991, 2993, 2993, 2994, 2995, 2996, 2998, 2998, 2999, 3000, 3001,

In [14]:
prev_idx

2004-08-23   2004-08-20
2004-08-24   2004-08-23
2004-08-25   2004-08-24
2004-08-26   2004-08-25
2004-08-30   2004-08-27
2004-08-31   2004-08-30
2004-09-01   2004-08-31
2004-09-02   2004-09-01
2004-09-07   2004-09-03
2004-09-08   2004-09-07
2004-09-09   2004-09-08
2004-09-13   2004-09-10
2004-09-14   2004-09-13
2004-09-15   2004-09-14
2004-09-16   2004-09-15
2004-09-20   2004-09-17
2004-09-21   2004-09-20
2004-09-22   2004-09-21
2004-09-23   2004-09-22
2004-09-27   2004-09-24
2004-09-28   2004-09-27
2004-09-29   2004-09-28
2004-09-30   2004-09-29
2004-10-04   2004-10-01
2004-10-05   2004-10-04
2004-10-06   2004-10-05
2004-10-07   2004-10-06
2004-10-11   2004-10-08
2004-10-12   2004-10-11
2004-10-13   2004-10-12
                ...
2016-11-21   2016-11-18
2016-11-22   2016-11-21
2016-11-25   2016-11-23
2016-11-28   2016-11-25
2016-11-29   2016-11-28
2016-11-30   2016-11-29
2016-12-01   2016-11-30
2016-12-05   2016-12-02
2016-12-06   2016-12-05
2016-12-07   2016-12-06
2016-12-08   2016-12-07
2016-12-12   2016-12-09
2016-12-13   2016-12-12
2016-12-14   2016-12-13
2016-12-15   2016-12-14
2016-12-19   2016-12-16
2016-12-20   2016-12-19
2016-12-21   2016-12-20
2016-12-22   2016-12-21
2016-12-27   2016-12-23
2016-12-28   2016-12-27
2016-12-29   2016-12-28
2017-01-03   2016-12-30
2017-01-04   2017-01-03
2017-01-05   2017-01-04
2017-01-09   2017-01-06
2017-01-10   2017-01-09
2017-01-11   2017-01-10
2017-01-12   2017-01-11
2017-01-17   2017-01-13
Length: 2472, dtype: datetime64[ns]

In [10]:
use_idx = use_idx[use_idx > 0]
# Get rid of duplications in index
use_idx = np.unique(use_idx)

In [13]:
prev_idx = pd.Series(close.index[use_idx - 1], index=close.index[use_idx])

In [15]:
ret = close.loc[prev_idx.index] / close.loc[prev_idx.values].values - 1

In [ ]:
vol = ret.ewm(span=span).std()

In [18]:
vol = get_daily_vol(df["Close"])
vol.head()

2004-08-23         NaN
2004-08-24    0.036396
2004-08-25    0.029930
2004-08-26    0.027366
2004-08-30    0.029365
Name: Close, dtype: float64

In [5]:
close

2004-08-19    100.335
2004-08-20    108.310
2004-08-23    109.400
2004-08-24    104.870
2004-08-25    106.000
2004-08-26    107.910
2004-08-27    106.150
2004-08-30    102.010
2004-08-31    102.370
2004-09-01    100.250
2004-09-02    101.510
2004-09-03    100.010
2004-09-07    101.580
2004-09-08    102.300
2004-09-09    102.310
2004-09-10    105.330
2004-09-13    107.500
2004-09-14    111.490
2004-09-15    112.000
2004-09-16    113.970
2004-09-17    117.490
2004-09-20    119.360
2004-09-21    117.840
2004-09-22    118.380
2004-09-23    120.820
2004-09-24    119.830
2004-09-27    118.260
2004-09-28    126.860
2004-09-29    131.080
2004-09-30    129.600
               ...
2016-12-02    764.460
2016-12-05    778.220
2016-12-06    776.180
2016-12-07    791.470
2016-12-08    795.170
2016-12-09    809.450
2016-12-12    807.900
2016-12-13    815.340
2016-12-14    817.890
2016-12-15    815.650
2016-12-16    809.840
2016-12-19    812.500
2016-12-20    815.200
2016-12-21    812.200
2016-12-22    809.680
2016-12-23    807.800
2016-12-27    809.780
2016-12-28    804.570
2016-12-29    802.880
2016-12-30    792.450
2017-01-03    807.570
2017-01-04    807.770
2017-01-05    813.020
2017-01-06    825.210
2017-01-09    827.180
2017-01-10    826.010
2017-01-11    829.860
2017-01-12    829.530
2017-01-13    830.940
2017-01-17    827.200
Name: Close, Length: 3125, dtype: float64

In [192]:
import numbers

def cusum_filter(close, h):
    # asssum that E y_t = y_{t-1}
    t_events = []
    s_pos, s_neg = 0, 0
    ret = close.pct_change().dropna()
    diff = ret.diff().dropna()
    # time variant threshold
    if isinstance(h, numbers.Number):
        h = pd.Series(h, index=diff.index)
    h = h.reindex(diff.index, method='bfill')
    h = h.dropna()
    for t in h.index:
        s_pos = max(0, s_pos + diff.loc[t])
        s_neg = min(0, s_neg + diff.loc[t])
        if s_pos > h.loc[t]:
            s_pos = 0
            t_events.append(t)
        elif s_neg < -h.loc[t]:
            s_neg = 0
            t_events.append(t)
    return pd.DatetimeIndex(t_events)

In [193]:
cusum_filter(df["Close"], 0.1)

DatetimeIndex(['2004-08-24', '2004-09-28', '2004-10-20', '2004-10-21',
               '2004-10-26', '2004-11-05', '2004-11-08', '2004-11-11',
               '2004-11-16', '2004-11-24', '2005-01-26', '2005-02-04',
               '2005-06-08', '2005-10-21', '2005-10-25', '2006-01-20',
               '2006-01-23', '2006-02-01', '2006-02-16', '2006-02-28',
               '2006-03-02', '2006-03-24', '2006-04-25', '2006-10-20',
               '2006-11-27', '2008-01-23', '2008-01-24', '2008-02-01',
               '2008-02-05', '2008-03-11', '2008-03-17', '2008-03-24',
               '2008-04-18', '2008-04-21', '2008-07-18', '2008-07-22',
               '2008-09-11', '2008-09-17', '2008-09-18', '2008-09-22',
               '2008-09-29', '2008-09-30', '2008-10-02', '2008-10-13',
               '2008-10-14', '2008-10-16', '2008-10-28', '2008-10-29',
               '2008-11-05', '2008-11-13', '2008-11-17', '2008-11-25',
               '2008-12-01', '2008-12-02', '2008-12-22', '2009-01-20',
               '2009-01-21', '2009-02-10', '2009-02-24', '2009-03-09',
               '2009-03-10', '2010-01-22', '2010-04-16', '2010-05-10',
               '2010-07-16', '2010-07-20', '2010-10-15', '2010-10-19',
               '2011-04-15', '2011-05-17', '2011-07-15', '2011-07-18',
               '2011-08-09', '2011-08-18', '2011-10-14', '2012-01-09',
               '2012-01-27', '2012-10-18', '2012-11-19', '2013-10-18',
               '2013-10-21', '2014-04-03', '2014-04-04', '2015-07-17',
               '2015-07-20', '2015-08-26', '2015-09-01', '2016-04-22'],
              dtype='datetime64[ns]', freq=None)