In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.ensemble import RandomForestRegressor as RFR

# Importing the Data

In [2]:
x_raw = pd.read_csv("data/cleaned_input_data.csv", encoding = "ISO-8859-1")
y_raw = pd.read_csv("data/cleaned_output_data.csv", encoding = "ISO-8859-1")

In [3]:
x_raw.head()

,Full Name,Primary Company,Previous startups?,Consulting before start-up,Standardized University,Standardized Major,Degree Type,Standardized Graduate Institution,Standardized Graduate Studies,Graduate Diploma,Ever served as TA/Teacher/Professor/Mentor?,Years of Employment,Worked as product manager/director/head/VP?,Worked at Google?,Worked at Microsoft?,Worked in Sales?,Stanford or Berkeley,Ivy League,Crunchbase,LinkedIn
0,Chad Hurley,YouTube,0,0,Indiana University of Pennsylvania,Design,NaN,NaN,NaN,NaN,0.0,4.0,1,1,0.0,0.0,0,0,https://www.crunchbase.com/person/chad-hurley,http://www.linkedin.com/profile/view?id=5711
1,Gwyneth Paltrow,Goop Inc.,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/gwyneth-paltrow,https://www.linkedin.com/in/gwyneth-paltrow-48...
2,Jason Calacanis,Inside.com,3,0,Fordham University,Psychology,BA,NaN,NaN,NaN,0.0,4.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/jason-calacanis,http://www.linkedin.com/in/jasoncalacanis
3,Tony Fadell,Nest Labs,1,0,University of Michigan,Computer Science,BS,NaN,NaN,NaN,0.0,18.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/tony-fadell,http://www.linkedin.com/pub/tony-fadell/0/1/380
4,Matt Mullenweg,Automattic,1,0,University of Houston,NaN,NaN,NaN,NaN,NaN,0.0,15.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/matt-mullenweg,http://www.linkedin.com/in/mattm

In [4]:
y_raw.head()

,Full Name,Primary Company,Seed Valuation,A Valuation,B Valuation,Valuation Increase
0,Chad Hurley,YouTube,0,"14,000,000.00","88,400,000.00",6.314285714
1,Gwyneth Paltrow,Goop Inc.,0,"40,000,000.00","65,000,000.00",1.625
2,Jason Calacanis,Inside.com,"$7,000,000.00","11,250,000.00",0,#VALUE!
3,Tony Fadell,Nest Labs,"$2,700,000.00","49,210,000.00","288,120,000.00",5.854907539
4,Matt Mullenweg,Automattic,0,"8,650,000.00","238,590,000.00",27.58265896

In [5]:
y_raw.set_index("Full Name", inplace = True)
x_raw.set_index("Full Name", inplace = True)

In [6]:
y = y_raw[['Valuation Increase']].copy()

In [7]:
y.head()

                Valuation Increase
Full Name
Chad Hurley            6.314285714
Gwyneth Paltrow              1.625
Jason Calacanis            #VALUE!
Tony Fadell            5.854907539
Matt Mullenweg         27.58265896

In [8]:
y.dropna(inplace=True)

In [9]:
y = y.convert_objects(convert_numeric=True)

C:\Users\Julian\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [10]:
y.dropna(inplace=True)

In [11]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1359 entries, Chad Hurley to Mike Hurst
Data columns (total 1 columns):
Valuation Increase    1359 non-null float64
dtypes: float64(1)
memory usage: 21.2+ KB

In [12]:
x_raw.head()

,Primary Company,Previous startups?,Consulting before start-up,Standardized University,Standardized Major,Degree Type,Standardized Graduate Institution,Standardized Graduate Studies,Graduate Diploma,Ever served as TA/Teacher/Professor/Mentor?,Years of Employment,Worked as product manager/director/head/VP?,Worked at Google?,Worked at Microsoft?,Worked in Sales?,Stanford or Berkeley,Ivy League,Crunchbase,LinkedIn
Full Name,,,,,,,,,,,,,,,,,,,
Chad Hurley,YouTube,0,0,Indiana University of Pennsylvania,Design,NaN,NaN,NaN,NaN,0.0,4.0,1,1,0.0,0.0,0,0,https://www.crunchbase.com/person/chad-hurley,http://www.linkedin.com/profile/view?id=5711
Gwyneth Paltrow,Goop Inc.,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/gwyneth-paltrow,https://www.linkedin.com/in/gwyneth-paltrow-48...
Jason Calacanis,Inside.com,3,0,Fordham University,Psychology,BA,NaN,NaN,NaN,0.0,4.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/jason-calacanis,http://www.linkedin.com/in/jasoncalacanis
Tony Fadell,Nest Labs,1,0,University of Michigan,Computer Science,BS,NaN,NaN,NaN,0.0,18.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/tony-fadell,http://www.linkedin.com/pub/tony-fadell/0/1/380
Matt Mullenweg,Automattic,1,0,University of Houston,NaN,NaN,NaN,NaN,NaN,0.0,15.0,1,0,0.0,0.0,0,0,https://www.crunchbase.com/person/matt-mullenweg,http://www.linkedin.com/in/mattm

In [13]:
x = x_raw.copy()
x.drop(['Primary Company', 'Crunchbase', 'LinkedIn'], inplace=True, axis=1)

In [14]:
x.head()

,Previous startups?,Consulting before start-up,Standardized University,Standardized Major,Degree Type,Standardized Graduate Institution,Standardized Graduate Studies,Graduate Diploma,Ever served as TA/Teacher/Professor/Mentor?,Years of Employment,Worked as product manager/director/head/VP?,Worked at Google?,Worked at Microsoft?,Worked in Sales?,Stanford or Berkeley,Ivy League
Full Name,,,,,,,,,,,,,,,,
Chad Hurley,0,0,Indiana University of Pennsylvania,Design,NaN,NaN,NaN,NaN,0.0,4.0,1,1,0.0,0.0,0,0
Gwyneth Paltrow,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,1,0,0.0,0.0,0,0
Jason Calacanis,3,0,Fordham University,Psychology,BA,NaN,NaN,NaN,0.0,4.0,1,0,0.0,0.0,0,0
Tony Fadell,1,0,University of Michigan,Computer Science,BS,NaN,NaN,NaN,0.0,18.0,1,0,0.0,0.0,0,0
Matt Mullenweg,1,0,University of Houston,NaN,NaN,NaN,NaN,NaN,0.0,15.0,1,0,0.0,0.0,0,0

In [15]:
from sklearn import preprocessing

encoder = preprocessing.LabelEncoder()
for col in ['Standardized University','Standardized Major', 'Degree Type','Standardized Graduate Institution',"Standardized Graduate Studies",'Graduate Diploma']:
    x[col] = encoder.fit_transform(x[col].fillna('-1'))

In [16]:
x.fillna(-1, inplace=True)

In [17]:
x.astype(int, inplace=True)

,Previous startups?,Consulting before start-up,Standardized University,Standardized Major,Degree Type,Standardized Graduate Institution,Standardized Graduate Studies,Graduate Diploma,Ever served as TA/Teacher/Professor/Mentor?,Years of Employment,Worked as product manager/director/head/VP?,Worked at Google?,Worked at Microsoft?,Worked in Sales?,Stanford or Berkeley,Ivy League
Full Name,,,,,,,,,,,,,,,,
Chad Hurley,0,0,69,8,0,0,0,0,0,4,1,1,0,0,0,0
Gwyneth Paltrow,0,0,0,0,0,0,0,0,0,12,1,0,0,0,0,0
Jason Calacanis,3,0,48,28,2,0,0,0,0,4,1,0,0,0,0,0
Tony Fadell,1,0,191,6,4,0,0,0,0,18,1,0,0,0,0,0
Matt Mullenweg,1,0,181,0,0,0,0,0,0,15,1,0,0,0,0,0
Eric Lefkofsky,6,0,191,0,2,75,16,7,1,0,1,0,0,0,0,0
Kevin Systrom,0,0,133,23,0,0,0,0,0,5,1,1,0,0,1,0
Matt Humphrey,4,0,27,6,4,9,2,9,0,0,1,0,0,0,0,0
Dustin Moskovitz,3,0,56,9,0,0,0,0,-1,0,1,0,0,0,0,1
Jan Koum,0,0,125,6,4,0,0,0,0,9,0,0,0,0,0,0
Rob May,2,0,185,10,3,73,2,9,1,18,1,0,0,0,0,0
Brian Wong,3,0,165,3,2,0,0,0,0,4,1,0,0,0,0,0
Jason Tan,0,0,215,6,3,0,0,0,0,5,0,0,0,0,0,0
Sandeep Aggarwal,0,0,0,0,0,0,0,0,0,11,1,0,0,0,0,0
Payal Kadakia,1,1,88,23,4,0,0,0,0,12,1,0,0,0,0,0
Brendan Iribe,1,0,188,6,5,0,0,0,1,13,1,0,0,0,0,0
Tom Chavez,1,0,56,6,2,54,21,14,0,11,1,0,1,0,0,1
Tina Sharkey,0,0,199,17,2,0,0,0,0,4,1,0,0,0,0,0
Emmett Shear,2,0,232,6,4,86,0,0,0,4,1,0,0,0,0,1
Jon Miller,0,1,56,26,2,54,2,9,1,8,1,0,0,0,0,1
Don Ressler,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0
Jonah Goodhart,6,0,38,27,2,0,0,0,0,5,1,0,0,0,0,1
Ron Gula,0,0,31,10,4,52,9,13,0,12,1,0,0,0,0,0
Pau Sabria,0,1,139,11,3,10,2,13,1,4,1,0,0,0,0,0
Jack Conte,0,0,133,22,2,0,0,0,1,0,1,0,0,0,1,0
Liz Wessel,2,0,199,0,2,0,0,0,1,5,1,1,0,0,0,0
Vlad Tenev,0,0,133,19,2,63,17,8,0,10,1,0,0,0,1,0
Chris Milk,2,0,1,13,2,67,11,0,0,1,0,0,0,0,0,0
Alex Fielding,0,0,125,0,0,54,0,0,0,7,1,0,0,0,0,0
Will Marshall,0,0,186,26,9,76,24,14,1,7,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Victoria Livschitz,1,0,81,19,4,54,5,0,0,13,0,0,0,0,0,0
Drew Schiller,2,0,183,6,2,0,0,0,1,0,0,0,0,0,0,0
Megan Gardner,0,0,131,15,2,0,2,9,0,8,0,0,0,1,0,0
Cheng Liu,0,0,111,2,4,0,0,14,1,9,0,0,0,0,0,0
Haresh Patel,0,0,196,10,2,0,0,0,0,23,0,0,0,1,0,0
Sachin Katti,1,0,60,10,3,0,5,14,1,9,0,0,0,0,0,0
Jason Ricci,0,0,101,0,0,0,0,0,0,2,1,0,0,0,0,0
Manik Singh,0,0,201,11,3,0,5,13,0,11,1,0,0,0,0,0
Rob Salvatore,0,0,11,3,0,0,2,9,0,9,0,0,0,0,0,0
Vikas Jha,0,0,64,6,3,0,5,14,1,8,0,0,0,0,0,0
Jeff Daniel,0,0,18,3,2,0,0,0,0,9,0,0,0,0,0,1
Pieter van Rooyen,3,0,184,10,10,0,0,0,1,13,0,0,0,0,0,0
Ujjal Kohli,3,1,64,10,3,0,2,9,0,15,1,0,0,0,0,0
Karl Wirth,0,0,56,26,2,0,0,0,0,9,1,0,0,0,0,1
David P. Mariani,1,0,169,9,2,0,0,0,0,17,1,0,0,0,0,0
Andras Forgacs,2,1,56,27,2,0,2,9,0,15,0,0,0,0,0,1
Robert Carlson,0,0,212,28,2,0,2,9,0,21,0,0,0,1,0,0
Michael Smalls,0,0,22,6,2,0,0,0,0,16,0,0,0,1,0,0
Richard White,2,0,101,6,2,0,0,0,0,8,0,0,0,0,0,0
Kelly Dachtler,0,0,110,8,0,0,0,0,0,14,0,0,0,0,0,0
Taku Harada,0,0,232,15,2,0,0,0,0,11,1,0,0,0,0,1
Simon Lenoir,1,0,180,23,2,0,0,10,0,9,0,0,0,0,0,0
David Mandell,1,1,85,0,0,0,0,0,0,6,0,0,0,0,0,0
Craig Malloy,1,0,154,27,4,0,2,9,0,5,0,0,0,0,0,0
Ben Wolstenholme,1,0,29,8,2,0,0,0,0,0,0,0,0,0,0,0
Cliff Moon,1,0,177,6,4,0,0,0,0,6,0,0,0,0,0,0
Hesaam Esfandyarpour,1,0,127,10,4,54,20,13,1,6,0,0,0,0,0,0
Marc Ruxin,0,0,55,15,2,0,2,9,0,15,0,0,0,1,0,0
Radu B. Rusu,0,0,0,0,0,0,5,14,1,10,0,0,0,0,0,0
Ronni Zehavi,2,0,142,15,2,0,0,0,0,11,0,0,0,1,0,0

In [18]:
df = pd.merge(x, y, left_index=True, right_index=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 706 entries, Aaron Bell to Zoe Barry
Data columns (total 17 columns):
Previous startups?                             706 non-null int64
Consulting before start-up                     706 non-null int64
Standardized University                        706 non-null int64
Standardized Major                             706 non-null int64
Degree Type                                    706 non-null int64
Standardized Graduate Institution              706 non-null int64
Standardized Graduate Studies                  706 non-null int64
Graduate Diploma                               706 non-null int64
Ever served as TA/Teacher/Professor/Mentor?    706 non-null float64
Years of Employment                            706 non-null float64
Worked as product manager/director/head/VP?    706 non-null int64
Worked at Google?                              706 non-null int64
Worked at Microsoft?                           706 non-null float64
Worked in Sales?                               706 non-null float64
Stanford or Berkeley                           706 non-null int64
Ivy League                                     706 non-null int64
Valuation Increase                             706 non-null float64
dtypes: float64(5), int64(12)
memory usage: 99.3+ KB

In [20]:
modl = RFR(n_estimators = 1000, n_jobs=-1)

modl.fit(df.drop('Valuation Increase', axis=1), df['Valuation Increase'])

print(modl.score(df.drop('Valuation Increase', axis=1), df['Valuation Increase']))

# Look at importance of features for random forest

modl.feature_importances_

0.832086016215

array([ 0.08714622,  0.06051589,  0.23759732,  0.18468789,  0.06259401,
        0.03934289,  0.02342096,  0.03591543,  0.03999523,  0.15515726,
        0.04035553,  0.0040427 ,  0.00273947,  0.00559234,  0.01322611,
        0.00767074])